/* 设置简易导航 */

/*
* 题目要求：
* 1、已知导航栏背景颜色为#333、边框圆角为10px。
* 2、导航选项内边距为20px、选项字体颜色为白色、 选项行高为40px。
*/
.link-list {
    padding-left: 10px;
    /* 设置导航栏背景颜色为#333、边框圆角为10px */
    background-color: #333;
    border-radius: 10px;
}

.link-list .link-item {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    /* 设置导航栏选项左右内边距为20px、选项字体颜色为白色、 选项行高为40px */
    padding: 0 20px;
    color: white;
    line-height: 40px;
}

/* 当鼠标滑过时，item的背景颜色会变成蓝色 */
.link-list .link-item:hover {
    background-color: #188eee;
}